<div class="container-fluid">
    <div class="flex">
        <h1>Employee Details</h1>
        <button type="button" class="nextbtn" (click)="nextPage()" routerLink="/emp-list">
            Employee Listing
            Page<a
                href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.svgrepo.com%2Fshow%2F157812%2Fnext.svg&imgrefurl=https%3A%2F%2Fwww.svgrepo.com%2Fsvg%2F31619%2Fnext-arrow&tbnid=aTWeqyIxxuASTM&vet=12ahUKEwiSn9nBmcf7AhXck9gFHYgzDWEQMygsegUIARChAg..i&docid=KoX9s6TxiVn7nM&w=800&h=800&q=next%20page%20arrow%20css&ved=2ahUKEwiSn9nBmcf7AhXck9gFHYgzDWEQMygsegUIARChAg"></a></button>
    </div>

    <div>
        <form [formGroup]="reactiveForm" #form="ngForm">
            <div class="column">
                <div class="wrapper">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" id="name" name="name" formControlName="name" placeholder="Name" required
                        class="form-control form-control-sm"
                        [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                        <div *ngIf="name.errors?.['required']">
                            This field is required.
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <label for="address" class="form-label">Address:</label>
                    <textarea type="textarea" id="address" name="address" formControlName="address"
                        placeholder="Address" required class="form-control form-control-sm"
                        [class.is-invalid]="address.invalid && (address.dirty || address.touched)"></textarea>
                    <div *ngIf="address.invalid && (address.dirty || address.touched)" class="invalid-feedback">
                        <div *ngIf="address.errors?.['required']">
                            This field is required.
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <label for="dob" class="form-label">Dob:</label>
                    <input type="date" id="dob" name="dob" formControlName="dob" placeholder="DOB" required
                        class="form-control form-control-sm"
                        [class.is-invalid]="dob.invalid && (dob.dirty || dob.touched)">
                    <div *ngIf="dob.invalid && (dob.dirty || dob.touched)" class="invalid-feedback">
                        <div *ngIf="dob.errors?.['required']">
                            This field is required.
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <label for="role" class="form-label">Role:</label><br />
                    <select name="role" id="role" formControlName="role" class="form-control-sm select">
                        <option value="ADMIN">Admin</option>
                        <option value="MANAGER">Manager</option>
                        <option value="HR">HR</option>
                        <option value="DEVELOPER">Developer</option>
                    </select>
                    <div *ngIf="role.invalid && (role.dirty || role.touched)" class="invalid-feedback">
                        <div *ngIf="role.errors?.['required']">
                            This field is required.
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <label for="phone" class="form-label">Phone:</label>
                    <input type="text" id="phone" name="phone" formControlName="phone" placeholder="Phone Number"
                        required class="form-control form-control-sm"
                        [class.is-invalid]="phone.invalid && (phone.dirty || phone.touched)">
                    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="invalid-feedback">
                        <div *ngIf="phone.errors?.['required']">
                            This field is required.
                        </div>
                        <div *ngIf="phone.errors?.['pattern']">
                            Enter 10 digit number
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <label for="gender" class="form-label">Gender:</label><br />
                    <input type="radio" id="male" name="gender" value="MALE" formControlName="gender">
                      <label for="male">MALE</label>
                      <input type="radio" id="female" name="gender" value="FEMALE" formControlName="gender">
                      <label for="female">FEMALE</label><br>
                    <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="invalid-feedback">
                        <div *ngIf="gender.errors?.['required']">
                            This field is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button type="button" (click)="validate()">Submit</button>
            </div>
        </form>
    </div>
</div>